@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutError";
}

<h2 class="text-danger">Oops!</h2>
<h4 class="text-danger">Parece que você digitou seu usuário ou senha incorreto! <br /> <br />
    Volte a página e tente novamente!</h4>